<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
  <div class="wrapper">
	<div class="content">
		{{ partial "head.html" . }}
  <article>
		<div class="title_wrapper">
			<h1 class="title">{{ .Title }}</h1>
      <div class="meta">
        {{- if (not (isset .Params "hide_date")) -}}
        <time class="post_time">{{ dateFormat "Jan 2, 2006" .Date }}</time>
        {{- end -}}
        {{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
		</div>
		<div>
			{{ if isset .Params "tldr" }}
						<div class="tldr">
							<strong>tl;dr:</strong>
							{{ .Params.tldr }}
  						</div>{{ end }}
		</div>

		<section class="body">
			{{ .Content }}
		</section>

		<div class="post-tags">
			{{ if ne .Type "page" }}
				{{ if gt .Params.tags 0 }}
					<ul class="tags">
						{{ range .Params.tags }}
						<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
						{{ end }}
					</ul>
				{{ end }}
			{{ end }}
		</div>
  </article>
	</div>

	{{ partial "post_footer.html" . }}

	{{ partial "footer.html" . }}
  </div>
</body>
</html>
