<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
  <div class="wrapper">
	<div class="content">
		{{ partial "head.html" . }}
  <article>
    {{- if (not (isset .Params "hide_title")) -}}
		<div class="title_wrapper">
			<h1 class="title">{{ .Title }}</h1>
        {{- if (not (isset .Params "hide_date")) -}}
        <p class="single_time">{{ dateFormat "Jan 2, 2006" .Date }}</p>
        {{- end -}}
		</div>
		{{ if isset .Params "tldr" }}
			<div class="tldr">
			<strong>tl;dr:</strong>
			  {{ .Params.tldr }}
  		</div>{{ end }}
    {{- end -}}

		<section class="post">
			{{ .Content }}
		</section>
  </article>
	</div>

	{{ partial "footer.html" . }}
  </div>
</body>
</html>
