<header>
	<div class="header_main">
	<a href="{{ .Site.BaseURL }}">
		{{- if isset .Site.Params "header_icon" -}}
		<img class="header_img" src="{{ .Site.Params.header_icon }}" alt="header_icon"/>
		{{- end -}}
		<p class="header_title">{{ .Site.Title }}</p>
		{{- if isset .Site.Params "header_desc" -}} 
		<p class="header_desc">{{ .Site.Params.header_desc }}</p>
		{{- end -}}
	</a>
	</div>
	<nav>
		{{ range .Site.Menus.main }}
			<a href="{{ .URL }}">{{ .Name }}</a>
		{{ end }}
	</nav>
</header>
