<div class="post_footer">
    <hr>
    {{- if isset .Site.Params "footer_icon" -}}
    <a href="{{ .Site.BaseURL }}"><img class="footer_icon" alt="footer_icon" src="{{ .Site.BaseURL }}/{{ .Site.Params.footer_icon }}" /></a>
    {{- end -}} 
    {{- if isset .Site.Params "footer_author" -}}
    <a class="footer_author" href="{{ .Site.BaseURL }}">{{ .Site.Params.footer_author }}</a>
    {{- end -}}
    {{- if isset .Site.Params "footer_desc" -}}
    <p class="footer_desc">{{ .Site.Params.footer_desc }}</p>
    {{- end -}}
    <div class="footer_links">
    {{ range .Site.Menus.footer_links }}
			<a class="footer_link" href="{{ .URL }}">{{ .Name }}</a>
		{{ end }}
    </div>
</div>
