<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
    <div class="wrapper">
		{{ partial "head.html" . }}
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages  }}
				<section class="post_listed">
					<time class="post_time">{{ dateFormat "01.02.06" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
					<a class="title" href="{{ .RelPermalink }}">{{.Title}}</a>
        </section>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			{{ partial "footer.html" . }}
		</div>
    </div>
		
	</div>
	
</body>
</html>
